:root, :host {
  --sys-background: #F5FAFC;
  --sys-error: #C00000;
  --sys-error-container: #C00000;
  --sys-error-fixed: #FFDAD4;
  --sys-error-fixed-dim: #FFB4A8;
  --sys-inverse-error: #FFB4A8;
  --sys-inverse-on-surface: #ECF2F4;
  --sys-inverse-primary: #82D3E0;
  --sys-inverse-secondary: #8AD0EF;
  --sys-inverse-surface: #2C3133;
  --sys-inverse-tertiary: #82D5C9;
  --sys-neutral: #72787A;
  --sys-neutral-variant: #70787C;
  --sys-on-background: #171C1E;
  --sys-on-error: #FFFFFF;
  --sys-on-error-container: #FFFFFF;
  --sys-on-error-fixed: #3A0905;
  --sys-on-error-fixed-variant: #73342A;
  --sys-on-primary: #FFFFFF;
  --sys-on-primary-container: #004F57;
  --sys-on-primary-fixed: #001F24;
  --sys-on-primary-fixed-variant: #004F57;
  --sys-on-secondary: #FFFFFF;
  --sys-on-secondary-container: #004D63;
  --sys-on-secondary-fixed: #001F2A;
  --sys-on-secondary-fixed-variant: #004D63;
  --sys-on-surface: #171C1E;
  --sys-on-surface-variant: #40484C;
  --sys-on-tertiary: #FFFFFF;
  --sys-on-tertiary-container: #005049;
  --sys-on-tertiary-fixed: #00201D;
  --sys-on-tertiary-fixed-variant: #005049;
  --sys-outline: #70787C;
  --sys-outline-variant: #BFC8CC;
  --sys-primary: #006874;
  --sys-primary-container: #9EEFFD;
  --sys-primary-fixed: #9EEFFD;
  --sys-primary-fixed-dim: #82D3E0;
  --sys-scrim: #000000;
  --sys-secondary: #106681;
  --sys-secondary-container: #BCE9FF;
  --sys-secondary-fixed: #BCE9FF;
  --sys-secondary-fixed-dim: #8AD0EF;
  --sys-shadow: #000000;
  --sys-surface: #F5FAFC;
  --sys-surface-bright: #F5FAFC;
  --sys-surface-container: #E9EFF1;
  --sys-surface-container-high: #E4E9EB;
  --sys-surface-container-highest: #DEE3E5;
  --sys-surface-container-low: #EFF4F6;
  --sys-surface-container-lowest: #FFFFFF;
  --sys-surface-dim: #D5DBDD;
  --sys-surface-tint: #006874;
  --sys-surface-variant: #DCE4E8;
  --sys-tertiary: #006A61;
  --sys-tertiary-container: #9EF2E5;
  --sys-tertiary-fixed: #9EF2E5;
  --sys-tertiary-fixed-dim: #82D5C9;
}
